:root {
	--grey-color: #D7D9D0;
	--white: #ebe6e6;
	--grey-shadow: #A1998E;
	--white-plain: #fff;
	--black: #202124;
	--black-plain: #000;
	--dark-grey: #9D9792;
	--light-grey: #BDB8B2;
}

body {
	display: flex;
	min-height: 100vh;
	justify-content: center;
	align-items: center;
	background-color: var(--white-plain);
	perspective: 580px;
	transition: all ease 0.5s;
	font-family: sans-serif;
	color: var(--white);
}
 
body:hover {
	perspective: 1500px;
}

.cube-wrapper {
	perspective: 100rem;
	transition: all ease 10s;
} 

.cube {
	width: 854px;
	height: 598px;
	transform-style: preserve-3d;
	border-radius: 35px;
}

.front-side {
	position: absolute;
}

.back-side {
	width: 100%;
	height: 100%;
	border-radius: 35px;
	background-color: var(--grey-color);
	transform: translateZ(-2px);
	transform-style: preserve-3d;
	position: absolute;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

.container-I {
	width: 854px;
	height: 598px;
	position: relative;
}

.box {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 854px;
	height: 598px;
}

.container {
	width: 854px;
	height: 598px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: var(--grey-color);
	border-radius: 35px;
	object-fit: cover;
	object-position: 100% 100%;
}

.partition {
	display: grid;
	grid-template-rows: repeat(7, auto);
	border: 1px solid var(--grey-shadow);
	box-shadow: inset 0 2px 2px 0 var(--grey-shadow), inset 2px 0 2px 0 var(--grey-shadow),
		inset -2px 2px 2px 0 var(--grey-shadow), inset 0 -2px 2px 0 var(--grey-shadow);
	width: 780px;
	height: 330px;
	border-radius: 12px;
	margin-top: 30px;
}
.line-1 {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin: 1% 0.5% 0 0.5%;
}
.f-key {
	display: flex;
	background-color: var(--black);
	border-radius: 5px;
	width: 48px;
	height: 23px;
	padding: 0;
	font-size: 0.2em;
	letter-spacing: -0.05em;
	align-items: flex-end;
	justify-content: center;
}

.esc {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	font-size: 0.7em;
}

.esc > span:first-of-type {
	margin-left: 4%;
}

.touch-id {
	width: 23px;
}

.line-2 {
	display: flex;
	justify-content: space-around;
	margin: 0 0.5% 0 0.5%;
}

.square {
	width: 45px;
	height: 45px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border: 2px solid var(--black-plain);
	background-color: var(--black);
	border-radius: 5px;
	font-size: 0.9em;
}

.content {
	height: 100%;
}

.delete {
	font-size: 0.7em;
	width: 70px;
	justify-content: flex-end;
	align-items: flex-end;
}

.line-3 {
	display: flex;
	justify-content: space-around;
	margin: 0 0.5% 0 0.5%;
}

.tab {
	display: flex;
	justify-content: flex-end;
	align-items: flex-start;
	width: 70px;
	font-size: 0.7em;
}

.line-4 {
	display: flex;
	justify-content: space-around;
	margin: 0 0.5% 0 0.5%;
}

.caps {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	width: 86px;
	font-size: 0.7em;
}

.line-5 {
	display: flex;
	justify-content: space-around;
	margin: 0 0.5% 0 0.5%;
}

.shift {
	display: flex;
	justify-content: flex-end;
	align-items: flex-start;
	width: 110px;
	font-size: 0.7em;
}

.shift2 {
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	width: 110px;
	font-size: 0.7em;
}

.space-bar {
	width: 260px;
}

.arrow-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2px;
	font-size: 0.7em;
}

.down-arrows {
	display: flex;
	gap: 2px;
	font-size: 0.7em;
	align-items: center;
}

.command {
	width: 60px;
}

.font-size {
	font-size: 0.7em;
}

.arrow {
	align-items: center;
}

.fn {
	align-self: flex-end;
}

.sub-fn {
	align-self: flex-start;
}

.fn-last {
	align-self: flex-start;
}

.track-pad {
	margin: 1% 0;
	width: 320px;
	height: 220px;
	border: 1px solid var(--dark-grey);
	border-radius: 10px;
	background-color: var(--light-grey);
}

.section-1 {
	display: flex;
	justify-content: space-between;
}
